* {
    margin: 0;

}

body {
    font-family: "Arial", Serif;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

.navbar {
    background-color: #678c8a;
    overflow: hidden;
    height: 50px;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
}


.logo ul {
    position: absolute;
    top: -0.8%;
    right: 46.1vw;
    margin: 0;
    list-style: none;
    padding: 6.5px 16px;
}

.navbar a:hover {
    background-color: #ddd;
    color: #2f3640;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0;
    background-color: #2f3640;
    overflow-x: hidden;
    padding-top: 50px;
    transition: 0.8s;
}

.side-nav a {
    padding: 0px 0px 50px 0px;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color: #fff;
}

.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left 0.8s;
    padding: 0px;
    overflow: hidden;
    width: 100%;
    margin: 0;
    font-size: 20px;
    color: #000;
    height: 93vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
}

.clip-text {
    background: url(images/placeholderimage.jpg);
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    color: transparent;
    width: 100%;
    height: 100%;
    padding top: -50px;
    box-sizing: border-box;
    font-size: 200px;
    font-weight: bold;
    text-align: center;
    line-height: 300px;
    flex-shrink: 0;
}

.search-bar {
    position: absolute;
    top: 5.5px;
    right: 20px;
    background: #2f3640;
    height: 20px;
    width: auto;
    border-radius: 20px;
    padding: 10px;
}

/* actual search box dimensions below*/
.search-bar:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-bar:hover > .search-btn {
    background: white;
    color: black;
}

.search-btn {
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
}

.search-btn > i {
    font-size: 18px;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #fff;
    font-size: 16px;
    transition: 0.4s;
    line-height: 20px;
    width: 0px;
    font-weight: bold;
}

.parallex-wrapper {
    width: 100vw;
    height: 80vh;
    padding-top: 20vh;
    box-sizing: border-box;
    transform-style: preserve-3d;
    padding: 10%;
}

p {
    width: 40vw;
    padding: 10px;
    color: #fff;
}

h4 {
    width: 40vw;
    padding: 10px;
    color: #fff;
}

.parallex-wrapper-deep {
    content: "";
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: url("images/Capture.PNG");
    background-size: cover;
    position: absolute;
    z-index: -2;
    transform: translatez(-0.5px) scale(1.5);
}

.parallex-wrapper-base {
    content: "";
    width: 80vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translatez(-0.2px) scale(1.2);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.parallex-wrapper-deep1 {
    content: "";
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: url("images/placeholderimage1.jpg");
    background-size: cover;
    position: absolute;
    z-index: -2;
    transform: translatez(-0.5px) scale(1.5);
}

.parallex-wrapper-base1 {
    content: "";
    width: 80vw;
    height: 44vh;
    background-image: url("images/wrapper.PNG");
    background-size: contain;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translatez(-0.2px) scale(1.2);
}

.parallex-wrapper-deep2 {
    content: "";
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: url("images/placeholderimage.jpg");
    background-size: cover;
    position: absolute;
    z-index: -2;
    transform: translatez(-0.5px) scale(1.5);
}

.parallex-wrapper-base2 {
    content: "";
    width: 80vw;
    height: 45vh;
    background-image: url("images/wrapper1.PNG");
    background-size: contain;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translatez(-0.2px) scale(1.2);
}

.regular-wrapper {
    width: 100vw;
    height: 26vh;
    padding-top: 20vh;
    top: 0;
    background-image: url("images/test%20regular%20wrapper.png");
    background-size: cover;
    z-index: 2;
    position: relative;
}

.footer {
    width: 100vw;
    height: 30vh;
    padding-top: 20vh;
    top: 0;
    background-image: url("images/Capture.PNG");
    background-size: cover;
    z-index: 2;
    position: relative;
}

.content {
    margin: 0 auto;
    padding: 50px;
    width: 50%;
    background: #aaa;
}

@media(max-width:568px) {
    .navcaja-nav {
        display: none
    }
}

@media(min-width:568px) {
    /*.open-slide{display:none}*/
}
